/*
Reppier management system
Design and code - M82.eu
*/
/* 
    Created on : 06.11.2015, 7:39:30
    Author     : Messier82
*/
body {
    /*height: 1500px; just for testing*/
}

//MD icons sizes
.material-icons.tiny {
    font-size: 1rem;
}
.material-icons.small {
    font-size: 2rem;
}
.material-icons.medium {
    font-size: 3rem;
}
.material-icons.large {
    font-size: 4rem;
}

/*Parallax setup*/
.parallax-container {
    height: 250px;
}

.parallax-container img {
    display: block; 
}

/*Styles*/
.subNav {
    height: 36px;
}

/*Basic styles*/
.projectTitle {
    font-weight: 200;
}

.currentPage {
    font-size: 1.4rem;
}

/*Tabs indicator coloring*/
ul.tabs div.indicator {
    background: white;
    transition: opacity .3s;
}