<div class="left projectTitle">
    Reppier
</div>

<div class="right accountPanel">
    <div class="tabletDesktop">
        <a class="blue lighten-2 waves-effect waves-light btn" style="color: black;">Login</a>
        <a class="white waves-effect btn modal-trigger" href="#register" style="color: black;">Register</a>
    </div>
    <div class="phones" style="display: none;">
        <a class="blue lighten-2 waves-effect waves-light btn dropdown-button" data-activates="accountPanelDropdown" style="color: black;">Account</a>

        <ul id='accountPanelDropdown' class='dropdown-content'>
            <li><a href="#!">Login</a></li>
            <li><a class="modal-trigger" href="#register">Register</a></li>
        </ul>
    </div>
</div>

<script>
    $('.dropdown-button').dropdown();
    $('.modal-trigger').leanModal();
</script>

<style>
    @media screen and (max-width: 600px) {
        div.accountPanel div.phones {
            display: block !important;
        }
        div.accountPanel div.tabletDesktop {
            display: none;
        }
    }
</style>

<!-- Register modal -->
<div id="register" class="modal" ng-controller="RegisterController">
    <register-form></register-form>
</div>