<nav class="blue">
    <div class="col l8 offset-l2 m10 offset-m1 s12">
        <div class="left currentPage">
            <!--Reppier-->
            {{ Page.navbarTitle() }}
        </div>

        <div class="right accountPanel">
            <a href="#login" class="waves-effect waves-default btn white black-text">Sign in</a>
            <!--<div class="tabletDesktop">
                <a class="white waves-effect btn" style="color: black;">Login</a>
                <a class="amber waves-effect waves-light btn" href="#/register" style="color: black;">Register</a>
            </div>
            <div class="phones" style="display: none;">
                <a class="blue lighten-2 waves-effect waves-light btn dropdown-button" data-activates="accountPanelDropdown" style="color: black;">Account</a>
        
                <ul id='accountPanelDropdown' class='dropdown-content'>
                    <li><a href="#!">Login</a></li>
                    <li><a class="modal-trigger" href="#register">Register</a></li>
                </ul>
            </div>-->
        </div>
    </div>
</nav>

<style>
    @media screen and (max-width: 600px) {
        div.accountPanel div.phones {
            display: block !important;
        }
        div.accountPanel div.tabletDesktop {
            display: none;
        }
    }
</style>

<script>
    $('.dropdown-button').dropdown();
</script>