<nav class="blue">
    <div class="col l8 offset-l2 m10 offset-m1 s12">
        <div class="left currentPage">
            <!--Reppier-->
            {{ Page.navbarTitle() }}
        </div>

        <div class="right accountPanel">
            <a href="#login" class="waves-effect waves-default btn white black-text">Sign in</a>
        </div>
    </div>
</nav>

<style>
    @media screen and (max-width: 600px) {
        div.accountPanel div.phones {
            display: block !important;
        }
        div.accountPanel div.tabletDesktop {
            display: none;
        }
    }
</style>

<script>
    $('.dropdown-button').dropdown();
</script>