{{ Page.hideImageBar(); Page.hideTabsIndicator() }}
{{ Page.setTitle("Registration"); Page.setNavbarTitle("Registration"); }}

<div class="card">
    <div class="card-content row" style="color: black;">
        <form id="signupForm">
            <div class="col m6 s12 input-field">
                <input id="first-name" name="first-name" type="text" />
                <label for="first-name">First name</label>
            </div>
            <div class="col m6 s12 input-field">
                <input id="last-name" name="last-name" type="text" />
                <label for="last-name">Last name</label>
            </div>

            <div class="col s12 input-field">
                <input id="email" name="email" type="text" />
                <label for="email">E-Mail</label>
            </div>

            <div class="col m6 s12 input-field">
                <input id="password" name="password" type="password" />
                <label for="password">Password</label>
            </div>

            <div class="col m6 s12 input-field">
                <input id="repeat-password" name="repeat-password" type="password" />
                <label for="repeat-password">Repeat password</label>
            </div>

            <div class="col s12 input-field">
                <input id="phone-number" name="phone-number" type="text" />
                <label for="phone-number">Phone number</label>
            </div>
        </form>
    </div>
    <div class="card-action">
        <center><a class="blue lighten-1 btn waves-effect waves-light black-text">Register</a></center>
    </div>
</div>