{{ Page.hideImageBar(); Page.hideTabsIndicator()}}
{{ Page.setTitle("Registration"); Page.setNavbarTitle("Registration");}}

<div class="card" id="registerCard">
    <form id="signupForm" ng-submit="register(data)">
        <div class="card-content row" style="color: black;">
            <div class="col m6 s12 input-field">
                <input id="first-name" name="first_name" type="text" ng-model="data.first_name" />
                <label for="first-name">First name</label>
            </div>
            <div class="col m6 s12 input-field">
                <input id="last-name" name="last_name" type="text" ng-model="data.last_name" />
                <label for="last-name">Last name</label>
            </div>

            <div class="col s12 input-field">
                <input id="email" name="email" type="text" ng-model="data.email" />
                <label for="email">E-Mail</label>
            </div>

            <div class="col m6 s12 input-field">
                <input id="password" name="password" type="password" ng-model="data.password" />
                <label for="password">Password</label>
            </div>

            <div class="col m6 s12 input-field">
                <input id="repeat-password" name="repeat_password" type="password" />
                <label for="repeat-password">Repeat password</label>
            </div>

            <div class="col s12 input-field">
                <input id="phone-number" name="phone_number" type="text" ng-model="data.phone_number" />
                <label for="phone-number">Phone number</label>
            </div>
        </div>
        <div class="card-action">
            <center><a class="blue lighten-1 btn waves-effect waves-light black-text" ng-click="register(data)">Register</a></center>
        </div>
    </form>
</div>